@using FTTree.Data
@using FactographData.r;
@using FactographData;
@implements ICellComponent
@inject FactographData.IFDataService db

@if (property is Dir)
{
    var ranges = db.ontology.RangesOfProp(property.Pred);
    var values = ((Dir)property).Resources;
    if (isEdited)
    {
        if (values.Length == 0)
        {
            values = new Rec[] { null };
        }
        <td>
            <FTTree.Components.Search showResults="@false"
                              OnRecordSelect="@(e => values[0] = db.GenerateRecordById(e))"
                              types="@ranges.ToArray()" />
            @if (values[0] == null)
            {
                <div>Нет значения</div>
            }
            else
            {
                <div>@db.GetName(values[0])</div>
            }
        </td>
    }
    else
    {
        if (values.Length != 0 && values[0] != null)
        {
            <td><NavLink href="@("/portrait/" + values[0].Id)">@db.GetName(values[0])</NavLink></td>
        }
        else
        {
            <td></td>
        }
    }
}

@code {
    [Parameter]
    public bool isEdited { get; set; }

    [Parameter]
    public Pro property { get; set; }

    private int GetLangIndex(TextLan[] textLans, string value)
    {
        return value == null ? 0 : Array.FindIndex(textLans, (t => t.Lang == value));
    }
}
