@using Microsoft.AspNetCore.Components.Authorization
@using Family.Authentication
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inherits LayoutComponentBase
@inject IConfiguration configuration
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject Factograph.Data.IFDataService db
@inject ProtectedLocalStorage browserStorage

@if (configuration != null)
{
    hea = configuration.GetSection("App:header").Value; 
    subhea = configuration.GetSection("App:subheader").Value;
    var lo = configuration.GetSection("App:logo").Value;
    if (!string.IsNullOrEmpty(lo)) logo = lo;
    title = configuration.GetSection("App:title").Value;
    var ico = configuration.GetSection("App:icon").Value;
    if (!string.IsNullOrEmpty(ico)) icon = ico;
}

<PageTitle>@title</PageTitle>

<div class="page">
    @if (expandSubNav)
    {
        <div class="sidebar" style="position:absolute;margin-top:64px; background-color:antiquewhite;">
            <AuthorizeView>
                <Authorized>
                    <span style="color:white;">@(context.User.Identity?.Name)</span>
                    &nbsp;&nbsp; 
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                    <div>
                        <NavLink @onclick="Reload" href="javascript:void(0)">Перезагрузить!</NavLink>
                        @if (loaddone)
                        {
                            <button @onclick="OkButton">ok</button>
                        }
                    </div>
                </Authorized>
                <NotAuthorized>
                    <NavLink @onclick="ClickLogin" class="nav-link" href="javascript:void(0)">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    }


    <main>
        <nav class="navbar navbar-expand-xxl navbar-light bg-light" style="height:64px; padding-top:0px;  background-image:url(VertPoloska.jpg)">
            <div class="container-fluid" style="padding-left:0px; padding-top:0px;">
                <a class="navbar-brand" href="#">
                    @*<img src="FlyingBirdsSmall.jpg" alt="" width="268" height="64" style="">*@
                    <img src="@(logo)" alt="" height="58" style="">
                </a>
                <div class="navbar-text" style="">
                    <div style="color: black; font-size:larger; font-weight: bold;">@(hea)</div>
                    <div style="font-size:smaller;">@(subhea)</div>
                </div>

@*                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="текст поиска" />
                    <button class="btn btn-outline-success" type="submit">Искать</button>
                </form>
*@
                <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                    <span class="navbar-toggler-icon"></span>
                </NavLink>

            </div>
        </nav>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool expandSubNav;

    private string? hea = "";
    private string? subhea = "";
    private string logo = "logo1.jpg";
    private string icon = "favicon.png";
    private string? title = "";
    // Authorization
    private async Task ClickLogin()
    {
        collapseNavMenu = false;
        Console.WriteLine("collapse false");
        navManager.NavigateTo("login/", true);
    }
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("index", true);
    }

    private bool loaddone = false;
    private void Reload()
    {
        db.Reload();
        loaddone = true;
    }
    private void OkButton()
    {
        loaddone = false;
        collapseNavMenu = false;
        navManager.NavigateTo("index", true);       
    }
    private string? user = null;
    private bool toedit { get { return user != null; } }


}