@using FactographData
@using FactographData.r
@inject FactographData.IFDataService db

<table class="mat-elevation-z5" style="">
    <tr>
        @foreach (var p in fieldsdirects[0])
        {
            string pred = db.ontology.LabelOfOnto(p.Pred);
            <th>@(pred)</th>
        }
    </tr>
    @foreach (var props in fieldsdirects)
    {
        <tr>
            @foreach (var p in props)
            {
                string pred = p.Pred;
                if (p is Str)
                {
                    if (db.ontology.IsEnumeration(pred))
                    {
                        string? s = ((Str)p).Value;
                        <td>@(db.ontology.EnumValue(pred, s, "ru"))</td>
                    }
                    else
                    {
                        <td>@(((Str)p).Value)</td>
                    }
                }
                else if (p is Tex)
                {
                    var t = (Tex)p;
                    if (t != null && t.Values.Length > 0)
                    {
                        <td>@(((Tex)p).Values[0].Text)</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                else if (p is Dir)
                {
                    var d = (Dir)p;
                    var resources = d.Resources;
                    <td>
                        @foreach (var r in resources)
                        {
                            <a href="edit/@(r.Id)">@(r.GetText("http://fogid.net/o/name"))</a>
                        }
                    </td>
                }
            }
        </tr>
    }


</table>


@code {
    [Parameter]
    public Pro[][] fieldsdirects { get; set; }
    [Parameter]
    public int level { get; set; }
}
