@using Factograph.Data
@using Factograph.Data.r
@inject Factograph.Data.IFDataService db

<div class="mdl-shadow--4dp" style="width:@(Width)px; height:@(Height)px; text-align:center; font-size:small; font-weight:100; display:flex; flex-direction: column; background: url('@(PhotoUrl)') center no-repeat; background-color:#d9dabb; background-size:contain;a">
     <div style="margin: auto;height:@((Regime=="photo"||Regime=="fund")?"100":"50")%;">
        <span style="text-align: center; color:black; background-color: #d9dabb; background-size:contain; ">@(Prolog)</span>
    </div>
    @if (Regime == "photo")
    {
        string nam = Name ?? "noname";
        @if (nam.Length > 24) { nam = nam.Substring(0, 24) + "..."; }
        <div style="margin: auto;height:min-content;">
            <a href="@(Reference)" style="align-content:center; color:black; background-color: #d9dabb; background-size:contain; " title="@(Name)">
                @(nam)
            </a>
        </div>
    }
    else if (Regime == "fund")
    {
        string nam = Name ?? "noname";
        @if (nam.Length > 24) { nam = nam.Substring(0, 24) + "..."; }
        <div style="margin: auto;height:min-content;">
            <a href="@(Reference)" style="align-content:center; color:#cc0000; background-color: #d9dabb; background-size:contain; " title="@(Name)">
                @(nam)
            </a>
        </div>
    }
    else
    {
        string nam = Name ?? "noname";
        @if (nam.Length > 30) { nam = nam.Substring(0, 30) + "..."; }
        <div style="margin: auto;height:50%;">
            <a href="@(Reference)" style="align-content:center;color:#cc0000; background-color: #d9dabb; background-size:contain; " title="@(Name)">
                @(nam)
            </a>
        </div>
    }
    <div style="margin: auto;height:min-content;font-size:smaller;">
        <span style="text-align: center; color:black; background-color: #d9dabb; background-size:contain; ">
            @(Epilog)
        </span>
    </div>
</div>



@code {
    [Parameter]
    public string Prolog { get; set; } = ""; // Текст в начале
    [Parameter]
    public string Epilog { get; set; } = ""; // Текст в конце
    [Parameter]
    public string Name { get; set; } = ""; // Текст имени объекта (носитель гиперссылки)
    [Parameter]
    public string Text { get; set; } = ""; // Дополнительный (поясняющий) текст
    [Parameter]
    public string Reference { get; set; } = ""; // Ссылка по которой посылают пользователя при нажатии
    [Parameter]
    public string PhotoUrl { get; set; } = ""; // URL фотографии
    [Parameter]
    public string Regime { get; set; } = ""; //photo, fund,    coll, doc
    [Parameter]
    public int Width { get; set; } = 200;
    [Parameter]
    public int Height { get; set; } = 200;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
