@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;

<PageTitle>FTTree</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginControl />
            <select @onchange="@(arg => LangChangeHandler(arg.Value))">
                @foreach (var option in languages)
                {
                    if (option.Key == currentLanguage)
                    {
                        <option value="@option.Key" selected>@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
@code {
    // Default variables. TODO: move elsewhere
    public static string defaultNameProp = "http://fogid.net/o/name";
    public static string defaultLanguage = "ru";
    public static string currentLanguage;
    public static string defaultObjectProp = "http://fogid.net/o/sys-obj";
    public static string editMode = "edit";
    public static string viewMode = "view";
    private Dictionary<string, string> languages = new Dictionary<string, string> { { "ru", "Ru" }, { "en", "En" } };

    private void LangChangeHandler(object lang)
    {
        currentLanguage = lang.ToString();
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    protected override void OnInitialized() // = On Page Load
    {
        if (currentLanguage == null)
        {
            currentLanguage = defaultLanguage;
        }
    }
}