@using Factograph.Data.r;
@using Factograph.Data;
@inject Factograph.Data.IFDataService db

@if (property is Str)
{
    var s = (Str)property;
    // ~~~~~~~~~~~~ выделяем вариант перечислимого и создаем под него элемент ~~~~~~
    if (db.ontology.IsEnumeration(property.Pred))
    {
        var states = db.ontology.EnumPairs(property.Pred, "ru");
        <td colspan="2" style="width:100%;">
            <select @onchange="@(e => SelectChangeHandler(e.Value, s))">
                <option value=""></option>
                @foreach (var item in states)
                {
                    if (s.Value == item.Key)
                    {
                        <option selected="selected" value="@item.Key">@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                }
            </select>
        </td>
    }
    else
    {
        <td colspan="2" style="width:100%;">
            @if (s != null)
            {
                if (property.Pred == "http://fogid.net/o/uri" || property.Pred == "http://fogid.net/o/docmetainfo")
                {
                    <input type="hidden" @bind-value="s.Value" style="width:100%;"></input>
                }
                else
                {
                    <input type="text" @bind-value="s.Value" style="width:100%;"></input>
                }
            }
        </td>
    }

}                    


@code {
    [Parameter]
    public Pro property { get; set; } = new Str("");

    private void SelectChangeHandler(object? e, Str bindProperty)
    {
        ((Str)bindProperty).Value = e?.ToString();
    }
}
